.tech .box {
    margin-bottom: 30px;
    margin-left: 2px; 
}
.tech .text {
    padding: 0 20px;
}
.tech .images {
    width: 320px;
    height: 320px;

}
.tech img {
    width: 320px;
    height: 320px;
    object-fit: cover;

}
@media screen and (max-width: 900px) {
    .tech .images, .tech img {
        width: 100%;
        height: auto;
    }
    .tech .text {
        width: 100%;
        text-align: center;
    }
    .tech .box {
        flex-direction: column;
        gap: 10px;
    }
}