.popular .box {
    background-color: #fff  ;
    display: flex;
    position: relative  ;
    margin: 15px 15px 15px 0;
}
.popular .images {
    position: relative;
    height:150px;
    object-fit: cover;
}