main .container {
    display: flex;
    justify-content: space-between;
    /* height: 100vh; */
    gap: 10px;
}
.maincontent  {
    width: 75%;


}
.sidecontent {
    width: 25%;
 
}
@media screen and (max-width: 900px) {
    main .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100vh; */
}
.maincontent  {
    width: 100%;


}
.sidecontent {
    width: 100%;
    
}

}